SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:3000
PORT=5000
BETTERSTACK_SOURCE_TOKEN=
BETTERSTACK_INGEST_URL=https://in.logs.betterstack.com
ERROR_WEBHOOK_URL=
